{
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": [
    "require-jsdoc"
  ],
  "rules": {
    "no-console": ["error", { allow: ["warn", "error", "log"] }],
    "require-jsdoc": ["error", {
        "require": {
            "FunctionDeclaration": true,
            "MethodDefinition": true,
            "ClassDeclaration": true,
            "ArrowFunctionExpression": true
        }
    }]
  }
}
